{% extends 'main/layout.html' %}

{% block title %} {{ title }} {% endblock %}
{% block footer %} {{ title }} {% endblock %}
{% block content %}
<div class="features">
    <h1>Описание профессии</h1>
    <p>Бэкенд любого веб-проекта — это сложная система, которая позволяет приложению быстро работать, качественно искать, шустро отдавать информацию пользователю, надёжно и безопасно хранить данные и при необходимости работать с другими внешними системами. Это как швейцарские часы: покупают их за стиль и шильдик, но ценители знают, что под сдержанным циферблатом кроется волшебный мир часового механизма. И бэкенд-разработчики — это маги механизмов, организмов, кишочек, внутренностей или как вы ещё это называете у веб-приложений. Эх, без лирики не удалось! </p>
    <img src="static/main/img/developer.png" alt="Логотип">
    <p>Если говорить академично, то бэкенд-разработчик — это программист, который отвечает за внутреннюю и вычислительную логику веб-сайта или веб-приложения, а также иного программного обеспечения и информационных систем. Строго говоря, бэкенд бывает не только у веб-решений, он есть и у десктопа, и у мобильных приложений, т.к. по сути бэкенд — это всё, что относится к программно-аппаратной части сервиса. Но исторически так сложилось, что бэкенд и фронтенд начали особенно явно выделять именно в веб-разработке. А поскольку это ещё и самая популярная на данный момент сфера, то и мы будем говорить именно о вебе (для десктопа многие тезисы тоже будут справедливы, а про мобильных разработчиков мы с вами поговорим в одном из выпусков отдельно).

    <p>Бэкенд-разработчик создаёт компоненты и функции, которые доступны пользователю приложения или сайта через интерфейс. Проще говоря, бэкендеры — это программисты, которые разрабатывают всё то, что не видит и напрямую не трогает пользователь. То есть красивая форма ввода данных или корзина интернет-магазина — это фронтенд, а хранение данных в СУБД, связка полей формы регистрации и корзины, интеграция с платёжным шлюзом, автоматические письма, подгрузка и обновление контента — это всё бэкенд. Поэтому, если форма регистрации стала отдавать ошибку базы, виноват… тестировщик :-) (почему— мы тоже расскажем в очередной серии).</p>
    <div class="about-p">
        <b>В каких сферах востребован backend-разработчик</b>
Бэкендер нужен компаниям, которые взаимодействуют с клиентами через сайт, приложение и другой веб-сервис. За счет цифровой трансформации во всех отраслях бизнеса такие специалисты нужны везде. Интернет-магазины, маркетплейсы и агрегаторы услуг, сайты компаний, банковские онлайн-сервисы — это только несколько примеров, где нужны backend-девелоперы.

Чем отличается от frontend-разработчика
У любого веб-ресурса две стороны: внешняя (frontend) — клиентская, внутренняя (backend) — серверная. Фронтенд — это живая картинка, всё что мы видим на сайте. Бэкенд — скрытая. То есть код «внутри», благодаря которому работают кнопки и функции сайта.

Вот простой пример. Вы хотите заказать товар в интернет-магазине. В каталоге видите кнопку «Купить». Жмете на нее и переходите в корзину. Заполняете поля, нажимаете «Оплатить» и попадаете на сайт платежной системы. Строка поиска товара в каталоге, кнопки, формы — это область фронтенд-разработки.

Все за кадром — за интерфейсом — относится к бэкенду. Идентификация пользовательских данных, соединение с платежным шлюзом, передача информации — результаты труда backend-разработчика.

Если провести параллель со строительством, то фронтэндер — это архитектор, а бэкендер — инженер-конструктор. Первый отвечает за красоту и удобство, а второй — за прочность и долговечность.

Преимущества и сложности профессии
К профессии бэкенд-разработчика привлекают высокая зарплата и востребованность. Еще среди плюсов: возможность роста до Middle и Senior, перспективы трудоустройства в иностранную компанию. Некоторым круто, что можно выбирать формат работы — в офисе или удаленно.

Есть и сложности. Профессия требует концентрации. К примеру, если бэкендер ошибется в коде — не сработает передача информации из формы заявки. В итоге компания не получит данные клиента. Потеряет и его, и прибыль. Кроме того, разработчики должны следить за трендами в IT-индустрии, получать новые навыки и повышать квалификацию. Это требует много времени и сил.

Требования к backend-разработчик
    </div>
    <p>
    !
    !
    !
</p>
</div>
{% endblock %}