{% extends 'main/layout.html' %}

{% block title %} Востребованность профессии {% endblock %}
{% block footer %} Востребованность профессии {% endblock %}
{% block content %}
<div class="features">
    <h1>Востребованность</h1>

    <table cellpadding="4" cellspacing="2" style="background: #2c2c2c; /* Цвет фона таблицы */
    color: white; /* Цвет текста */ width: 900px; /* Ширина таблицы */
    margin: auto; ">
    <tr>
        <th style=" padding: 3px;
    border: 1px solid black;">Год</th>
        <th style=" padding: 3px;
    border: 1px solid black;">Средняя зарплата в IT</th>
        <th style=" padding: 3px;
    border: 1px solid black;">Средняя зарплата в профессии Backend-разработчик</th>
    </tr>
        {% for el in table1 %}
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">{{ el.year }}</td>
        <td style=" padding: 3px;
    border: 1px solid black;">{{ el.avgSalary }}</td>
        <td style=" padding: 3px;
    border: 1px solid black;">{{ el.avgSalaryVac }}</td>
    </tr>
        {% endfor %}
    </table>

    <p style="padding-top: 20px">График динамики уровня зарплат по годам</p>
    <img src="static/main/img/graph_1_1.jpg" alt="График 1" width="80%" height="80%" hspace="4" vspace="4" border="2">
    <p style="padding-top: 20px">Таблица динамики уровня зарплат по годам</p>
    <table cellpadding="4" cellspacing="2" style="background: #2c2c2c; /* Цвет фона таблицы */
    color: white; /* Цвет текста */ width: 900px; /* Ширина таблицы */
    margin: auto; ">
    <tr>
        <th style=" padding: 3px;
    border: 1px solid black;">Год</th>
        <th style=" padding: 3px;
    border: 1px solid black;">Средняя зарплата в IT</th>
        <th style=" padding: 3px;
    border: 1px solid black;">Средняя зарплата в профессии Backend-разработчик</th>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2007</td>
        <td style=" padding: 3px;
    border: 1px solid black;">38916</td>
        <td style=" padding: 3px;
    border: 1px solid black;">0</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2008</td>
        <td style=" padding: 3px;
    border: 1px solid black;">43646</td>
        <td style=" padding: 3px;
    border: 1px solid black;">0</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2009</td>
        <td style=" padding: 3px;
    border: 1px solid black;">42492</td>
        <td style=" padding: 3px;
    border: 1px solid black;">0</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2010</td>
        <td style=" padding: 3px;
    border: 1px solid black;">43846</td>
        <td style=" padding: 3px;
    border: 1px solid black;">55000</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2011</td>
        <td style=" padding: 3px;
    border: 1px solid black;">47451</td>
        <td style=" padding: 3px;
    border: 1px solid black;">64375</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2012</td>
        <td style=" padding: 3px;
    border: 1px solid black;">52049</td>
        <td style=" padding: 3px;
    border: 1px solid black;">78208</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2013</td>
        <td style=" padding: 3px;
    border: 1px solid black;">56452</td>
        <td style=" padding: 3px;
    border: 1px solid black;">75850</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2014</td>
        <td style=" padding: 3px;
    border: 1px solid black;">51993</td>
        <td style=" padding: 3px;
    border: 1px solid black;">58125</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2015</td>
        <td style=" padding: 3px;
    border: 1px solid black;">52695</td>
        <td style=" padding: 3px;
    border: 1px solid black;">89375</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2016</td>
        <td style=" padding: 3px;
    border: 1px solid black;">62735</td>
        <td style=" padding: 3px;
    border: 1px solid black;">84789</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2017</td>
        <td style=" padding: 3px;
    border: 1px solid black;">61908</td>
        <td style=" padding: 3px;
    border: 1px solid black;">95700</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2018</td>
        <td style=" padding: 3px;
    border: 1px solid black;">67679</td>
        <td style=" padding: 3px;
    border: 1px solid black;">124755</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2019</td>
        <td style=" padding: 3px;
    border: 1px solid black;">71828</td>
        <td style=" padding: 3px;
    border: 1px solid black;">104909</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2020</td>
        <td style=" padding: 3px;
    border: 1px solid black;">72595</td>
        <td style=" padding: 3px;
    border: 1px solid black;">114347</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2021</td>
        <td style=" padding: 3px;
    border: 1px solid black;">84102</td>
        <td style=" padding: 3px;
    border: 1px solid black;">151799</td>
    </tr>
        <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2022</td>
        <td style=" padding: 3px;
    border: 1px solid black;">97903</td>
        <td style=" padding: 3px;
    border: 1px solid black;">209010</td>
    </tr>
</table>
    <p style="padding-top: 20px">График динамики количества вакансий по годам</p>
    <img src="static/main/img/graph_2_1.jpg" alt="График 2" width="80%" height="80%" hspace="4" vspace="4" border="2">
    <p style="padding-top: 20px">Таблица динамики количества вакансий по годам</p>
    <table cellpadding="4" cellspacing="2" style="background: #2c2c2c; /* Цвет фона таблицы */
    color: white; /* Цвет текста */ width: 900px; /* Ширина таблицы */
    margin: auto; ">
    <tr>
        <th style=" padding: 3px;
    border: 1px solid black;">Год</th>
        <th style=" padding: 3px;
    border: 1px solid black;">Количество вакансий в IT</th>
        <th style=" padding: 3px;
    border: 1px solid black;">Количество вакансий по профессии Backend-разработчик</th>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2007</td>
        <td style=" padding: 3px;
    border: 1px solid black;">43770</td>
        <td style=" padding: 3px;
    border: 1px solid black;">0</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2008</td>
        <td style=" padding: 3px;
    border: 1px solid black;">50412</td>
        <td style=" padding: 3px;
    border: 1px solid black;">0</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2009</td>
        <td style=" padding: 3px;
    border: 1px solid black;">46699</td>
        <td style=" padding: 3px;
    border: 1px solid black;">0</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2010</td>
        <td style=" padding: 3px;
    border: 1px solid black;">50570</td>
        <td style=" padding: 3px;
    border: 1px solid black;">6</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2011</td>
        <td style=" padding: 3px;
    border: 1px solid black;">55770</td>
        <td style=" padding: 3px;
    border: 1px solid black;">4</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2012</td>
        <td style=" padding: 3px;
    border: 1px solid black;">57960</td>
        <td style=" padding: 3px;
    border: 1px solid black;">12</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2013</td>
        <td style=" padding: 3px;
    border: 1px solid black;">58804</td>
        <td style=" padding: 3px;
    border: 1px solid black;">20</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2014</td>
        <td style=" padding: 3px;
    border: 1px solid black;">62384</td>
        <td style=" padding: 3px;
    border: 1px solid black;">28</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2015</td>
        <td style=" padding: 3px;
    border: 1px solid black;">62322</td>
        <td style=" padding: 3px;
    border: 1px solid black;">60</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2016</td>
        <td style=" padding: 3px;
    border: 1px solid black;">66817</td>
        <td style=" padding: 3px;
    border: 1px solid black;">107</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2017</td>
        <td style=" padding: 3px;
    border: 1px solid black;">72460</td>
        <td style=" padding: 3px;
    border: 1px solid black;">225</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2018</td>
        <td style=" padding: 3px;
    border: 1px solid black;">76879</td>
        <td style=" padding: 3px;
    border: 1px solid black;">265</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2019</td>
        <td style=" padding: 3px;
    border: 1px solid black;">85300</td>
        <td style=" padding: 3px;
    border: 1px solid black;">287</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2020</td>
        <td style=" padding: 3px;
    border: 1px solid black;">89791</td>
        <td style=" padding: 3px;
    border: 1px solid black;">223</td>
    </tr>
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2021</td>
        <td style=" padding: 3px;
    border: 1px solid black;">100987</td>
        <td style=" padding: 3px;
    border: 1px solid black;">132</td>
    </tr>
        <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">2022</td>
        <td style=" padding: 3px;
    border: 1px solid black;">116651</td>
        <td style=" padding: 3px;
    border: 1px solid black;">48</td>
    </tr>
</table>
    <p>
    !
    !
    !
</p>
</div>

{% endblock %}