{% extends 'main/layout.html' %}

{% block title %} География {% endblock %}
{% block footer %}  География {% endblock %}
{% block content %}
<div class="features">
    <h1>География</h1>
    <p style="padding-top: 20px">График уровня зарплат по городам</p>
    <img src="static/main/img/graph_3.jpg" alt="График 1" width="80%" height="80%" hspace="4" vspace="4" border="2">
    <p style="padding-top: 20px">Таблица уровня зарплат по городам</p>
    <table cellpadding="4" cellspacing="2" style="background: #2c2c2c;
    color: white;  width: 900px;
    margin: auto; ">
    <tr>
        <th style=" padding: 3px;
    border: 1px solid black;">Город</th>
        <th style=" padding: 3px;
    border: 1px solid black;">Уровень зарплат в рублях</th>
    </tr>
        {% for elem in table1 %}
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">{{ elem.city }}</td>
        <td style=" padding: 3px;
    border: 1px solid black;">{{ elem.avgSalary }}</td>
    </tr>
        {% endfor %}

</table>
    <p style="padding-top: 20px">График доли вакансий городам</p>
    <img src="static/main/img/graph_4.jpg" alt="График 1" width="80%" height="80%" hspace="4" vspace="4" border="2">
    <p style="padding-top: 20px">Таблица доли вакансий по городам</p>
    <table cellpadding="4" cellspacing="2" style="background: #2c2c2c;
    color: white;  width: 900px;
    margin: auto; ">
    <tr>
        <th style=" padding: 3px;
    border: 1px solid black;">Город</th>
        <th style=" padding: 3px;
    border: 1px solid black;">Доля вакансий в %</th>
    </tr>
        {% for elem in table2 %}
    <tr>
        <td style=" padding: 3px;
    border: 1px solid black;">{{ elem.city }}</td>
        <td style=" padding: 3px;
    border: 1px solid black;">{{ elem.proc }}</td>
    </tr>
        {% endfor %}

</table>
    <p>
    !
    !
    !
</p>
</div>
{% endblock %}