 {% extends 'main/layout.html' %}

{% block title %} Навыки {% endblock %}
{% block footer %} Навыки {% endblock %}
{% block content %}
 <div class="features">
 <h1>Навыки</h1>
     <p style="padding-top: 20px">График ТОП-10 навыков по годам для Backend-разработчика.</p>
    <img src="static/main/img/skills.jpg" alt="График скиллов" width="80%" height="80%" hspace="4" vspace="4" border="2">
    <p style="padding-top: 20px">ТОП-10 навыков по годам для Backend-разработчика.</p>
   <table cellpadding="4" cellspacing="2" style="background: #2c2c2c; /* Цвет фона таблицы */
    color: white; /* Цвет текста */ width: 900px; /* Ширина таблицы */
    margin: auto; ">
    <tr>
        <th style=" padding: 4px;
    border: 1px solid black;">Год</th>
        <th style=" padding: 4px;
    border: 1px solid black;">Топ 10 навыков</th>
    </tr>
       {% for elem in table %}
    <tr>
        <td style=" padding: 4px;
    border: 1px solid black;">{{ elem.year }}</td>
        <td style=" padding: 4px;
    border: 1px solid black;">{{ elem.skills }}</td>
    </tr>
       {% endfor %}
</table>
     <p>
         !
         !
         !
     </p>
 </div>
 {% endblock %}