 {% extends 'main/layout.html' %}

{% block title %} Навыки {% endblock %}
{% block footer %} Навыки {% endblock %}
{% block content %}
 <div class="features">
 <h1>Навыки</h1>
    <p style="padding-top: 20px">ТОП-10 навыков по годам для Backend-разработчика.</p>
   <table cellpadding="4" cellspacing="2" style="background: #2c2c2c; /* Цвет фона таблицы */
    color: white; /* Цвет текста */ width: 900px; /* Ширина таблицы */
    margin: auto; ">
    <tr>
        <th style=" padding: 4px;
    border: 1px solid black;">Год</th>
        <th style=" padding: 4px;
    border: 1px solid black;">Топ 10 навыков</th>
    </tr>
    <tr>
        <td style=" padding: 4px;
    border: 1px solid black;">2015</td>
        <td style=" padding: 4px;
    border: 1px solid black;">PHP5, Git, Linux, HTML, Java, CSS, MySQL, ООП, 1-C, Redis</td>
    </tr>
    <tr>
        <td style=" padding: 4px;
    border: 1px solid black;">2016</td>
        <td style=" padding: 4px;
    border: 1px solid black;">Java, Git, Linux, HTML, PHP5, CSS, JavaScript, ООП, PostgreSQL, Redis</td>
    </tr>
    <tr>
        <td style=" padding: 4px;
    border: 1px solid black;">2017</td>
        <td style=" padding: 4px;
    border: 1px solid black;">Java, Git, Linux, HTML, Java, CSS, MySQL, ООП, BootStrap, Ajax</td>
    </tr>
    <tr>
        <td style=" padding: 4px;
    border: 1px solid black;">2018</td>
        <td style=" padding: 4px;
    border: 1px solid black;">C#, Git, Linux, HTML, Java, CSS, jQuery, MS SQL, BootStrap, Ajax</td>
    </tr>
    <tr>
        <td style=" padding: 4px;
    border: 1px solid black;">2019</td>
        <td style=" padding: 4px;
    border: 1px solid black;">Go, Git, Linux, HTML, Java, CSS, SQLite, ООП, MySQL, noSQL</td>
    </tr>
    <tr>
        <td style=" padding: 4px;
    border: 1px solid black;">2020</td>
        <td style=" padding: 4px;
    border: 1px solid black;">Python, Git, Linux, HTML, Java, CSS, Django Framework, SQLite, Flask, MongoDB</td>
    </tr>
    <tr>
        <td style=" padding: 4px;
    border: 1px solid black;">2021</td>
        <td style=" padding: 4px;
    border: 1px solid black;">Java, Python, Git, Linux, HTML, Java, CSS, Django Framework, SQLite, Flask, MongoDB</td>
    </tr>
    <tr>
        <td style=" padding: 4px;
    border: 1px solid black;">2022</td>
        <td style=" padding: 4px;
    border: 1px solid black;">Python, Git, Linux, HTML, Java, CSS, Django Framework, SQLite, Flask, MongoDB</td>
    </tr>
</table>
 </div>
 {% endblock %}